
<div class="js-service">
  <div class="section">
      <!-- <div class=""> -->
          <div class="row">
              <div class="col s8" style="position: absolute; overflow-y: visible;">
                <!-- <div class=""> -->
                  <div class="card-panel">
                    <div class="row">
                      <div class="col s3 center">
                        <div class="card green lighten-1">
                          <div class="card-content card-followers" style="font-size: 180%">
                            
                          </div>
                        </div>
                        <div class="card-action green lighten-1 white-text centered">
                          <span class="">
                            Followers
                          </span>
                        </div>
                      </div>
                      <div class="col s3 center">
                        <div class="card green lighten-1">
                          <div class="card-content white-text card-friends" style="font-size: 180%">
                            
                          </div>
                        </div>
                        <div class="card-action green lighten-1 white-text center">
                          <span class="">
                            Friends
                          </span>
                        </div>
                      </div>
                      <div class="col s3 center">
                        <div class="card green lighten-1">
                          <div class="card-content white-text card-listed" style="font-size: 180%">
                            
                          </div>
                        </div>
                        <div class="card-action green lighten-1 white-text center">
                          <span class="">
                            Listed
                          </span>
                        </div>
                      </div>
                      <div class="col s3 center">
                        <div class="card green lighten-1">
                          <div class="card-content white-text card-favourites" style="font-size: 180%">
                            
                          </div>
                        </div>
                        <div class="card-action green lighten-1 white-text center">
                          Likes
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
                <div class="section" id="control">
                  <ul class="collapsible popout" data-collapsible="expandable">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">search</i>Search</div>
                      <div class="collapsible-body">

                        <table class="datatable bordered highlight centered tblData-search">
                          <thead>
                            <tr>
                                <th></th>
                                <th data-field="Tag">#</th>
                                <th data-field="Like">Retweet</th>
                                <th data-field="CommentId">Comment ID</th>
                                <th data-field="PromoId">Message ID</th>
                                <th data-field="Status">Active</th>
                                <th data-field="Add">
                                  <button class="blue btn-floating waves-effect waves-blue btnAdd-tag" name="action"><i class="material-icons">add</i>
                                  </button>
                                </th>
                            </tr>
                          </thead>
                          <tbody>

                          </tbody>
                        </table>

                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">message</i>Comments</div>
                      <div class="collapsible-body">
                        <table class="datatable bordered highlight centered tblData-comment">
                          <thead>
                            <tr>
                                <th></th>
                                <th data-field="Comment">Template</th>
                                <th data-field="ID">Comment ID</th>
                                <th data-field="Add">
                                  <button class="blue btn-floating waves-effect waves-blue btnAdd-comment" type="submit" name="action"><i class="material-icons">add</i>
                                  </button>
                                </th>
                            </tr>
                          </thead>
                          <tbody>

                          </tbody>
                        </table>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">star_rate</i>Private messages</div>
                      <div class="collapsible-body">
                        <table class="datatable bordered highlight centered tblData-promo">
                          <thead>
                            <tr>
                                <th></th>
                                <th data-field="Promo">Template</th>
                                <th data-field="ID">Message ID</th>
                                <th data-field="Add">
                                  <button class="blue btn-floating waves-effect waves-blue btnAdd-promo" type="submit" name="action"><i class="material-icons">add</i>
                                  </button>
                                </th>
                            </tr>
                          </thead>
                          <tbody>

                          </tbody>
                        </table>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col s4 offset-s8" style="position: fixed; height: 100%; overflow-y: auto;">
                <div class="" id="tweets">

                </div>
              </div>
          </div>
      <!-- </div> -->
  </div>
</div>
<script type="text/javascript" src="assets/service.es6"></script>